<head>
  <style>
  </style>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script>
     function scroll_iframe_by_name()
     {
     frames['calendar_frame'].document.getElementById("content").scrollTop = 315;
     }


    function switch_to_date() {
    document.getElementById("calendar_div").style.height = 42;
    document.getElementById("calendar_div").scrollTop = 0;
    }
    
    function switch_to_calendar() {
    document.getElementById("calendar_div").style.height = 470;
    document.getElementById("calendar_div").scrollTop = 400;
    }
  </script>
</head>

<body onload="scroll_iframe_by_name()">

<iframe name="calendar_frame" src="calendar_frame" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

{% if users_list %}
    <ul>
    User list:
    {% for user in users_list %}
        <li><a href="/user/{{ user.id }}/">{{ user }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users in system.</p>
{% endif %}

</body>
